:root {
	--white: #fafafa;
	--clear: #bbbbbb;
	--green: #8dbe49;
	--black: rgb(34, 34, 34);
	--red: rgb(226, 0, 0);
	--red-dark: #a70000;
	--red-darker: #660000;
	--grey: rgb(85, 85, 85);
	--yellow: yellow;
	--material-bkg: #263238;

	--primary-color: var(--red-dark);
	--secondary-color: var(--red-darker);
	--reverse-primary: var(--white);
	--reverse-secondary: var(--clear);
	--background: #3D4043;

	--header-min-height: 10vh;

	--shadow-color: #a0a0a0;
	--main-color: #282c34;
	--footer-background: #181A1B;

	--box-shadow: 5px 3px 20px var(--shadow-color);
	--header-shadow: 0px 5px 10px var(--shadow-color);


	--button-bkg: linear-gradient(80deg, var(--primary-color), var(--secondary-color));
	--button-bkg-hover: linear-gradient(80deg, var(--primary-color), var(--primary-color));

	--main-card-color: #e5e5e5;

}
